simulation:
  stepLength: 0.01
  repetitions: 20
  simTimeLimit: 30
  playgroundSizeX: 1000
  playgroundSizeY: 2000
  playgroundSizeZ: 2000

#choose a single kinetic model for simulation, 1 -> True; 0->False
kinetic_model:
    linearMobility: 1
    splineMobility: 0

#external files
files:
  polygon: 'examples/simpleSimulation/intersection.add.xml'

#Input parameters for Linear Mobility
#Use Hyphen for multiple UAVs
uav:
  # waypoints for test building detection
  - startPosX: 0
    startPosY: 0
    startPosZ: 3
    endPosX: 12
    endPosY: 12
    endPosZ: 3
    speed: 0.8

  #- startPosX: 700
  #  startPosY: 700
  #  startPosZ: 3
  #  endPosX: 0
  #  endPosY: 5
  #  endPosZ: 7
  #  speed: 50


  #- startPosX: 1000
  #  startPosY: 1000
  #  startPosZ: 3
  #  endPosX: 0
  #  endPosY: 5
  #  endPosZ: 7
