simulation:
  stepLength: 0.01
  repetitions: 20
  simTimeLimit: 30
  playgroundSizeX: 1000
  playgroundSizeY: 2000
  playgroundSizeZ: 2000

#Use Hyphen for multiple UAVs
uav:
  - startPosX: 1500
    startPosY: 1500
    startPosZ: 3
    endPosX: 0
    endPosY: 5
    endPosZ: 7

  - startPosX: 1000
    startPosY: 1000
    startPosZ: 3
    endPosX: 0
    endPosY: 5
    endPosZ: 7

#Input parameters for Spline Mobility
uavsp:
  # straight line
  - waypointX: [0,6,12]
    waypointY: [0,6,12]
    waypointZ: [3,3,3]

    speed: 8
  #straight line
  - waypointX: [1,6,12]
    waypointY: [1,1,1]
    waypointZ: [2,2,2]
    speed: 3


  # spiral shape
  - waypointX: [1, 2, 3, 2, 1, 2, 3, 2, 1, 2, 3, 2, 1]
    waypointY: [2, 3, 2, 1, 2, 3, 2, 1, 2, 3, 2, 1, 2]
    waypointZ: [3 , 2.79166667, 2.58333333, 2.375     , 2.16666667, 1.95833333, 1.75      , 1.54166667, 1.33333333, 1.125     , 0.91666667, 0.70833333, 0.5 ]
    speed: 3



  #- waypointX: [1,-6,-12]
  #  waypointY: [1,1,1]
  #  waypointZ: [2,2,2]
  #  speed: 3









